<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<string>Lead status update for</string>
	<key>placeholder</key>
	<string></string>
	<key>isOpen</key>
	<true/>
	<key>value</key>
	<array>
		<dict>
			<key>main</key>
			<true/>
			<key>isOpen</key>
			<false/>
			<key>value</key>
			<array>
				<dict>
					<key>text</key>
					<string></string>
					<key>isOpen</key>
					<false/>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>FirstName</string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>textField</string>
					<key>action</key>
					<string>yes</string>
					<key>placeholder</key>
					<string>First Name</string>
					<key>validation</key>
					<true/>
					<key>mandatoryVal</key>
					<true/>
				</dict>
				<dict>
					<key>text</key>
					<string></string>
					<key>isOpen</key>
					<false/>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>Mobile</string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>textField</string>
					<key>action</key>
					<string>yes</string>
					<key>placeholder</key>
					<string>Mobile Number</string>
					<key>validation</key>
					<true/>
					<key>mandatoryVal</key>
					<true/>
				</dict>
				<dict>
					<key>text</key>
					<string></string>
					<key>isOpen</key>
					<false/>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>Email</string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>textField</string>
					<key>action</key>
					<string>yes</string>
					<key>placeholder</key>
					<string>Enter Email</string>
					<key>validation</key>
					<true/>
					<key>mandatoryVal</key>
					<true/>
				</dict>
				<dict>
					<key>isOpen</key>
					<false/>
					<key>text</key>
					<string></string>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>State</string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>button</string>
					<key>action</key>
					<string>select</string>
					<key>placeholder</key>
					<string>Select State</string>
					<key>validation</key>
					<true/>
					<key>mandatoryVal</key>
					<false/>
				</dict>
				<dict>
					<key>isOpen</key>
					<false/>
					<key>text</key>
					<string></string>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>City</string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>button</string>
					<key>action</key>
					<string>select</string>
					<key>placeholder</key>
					<string>Select City</string>
					<key>validation</key>
					<true/>
					<key>mandatoryVal</key>
					<false/>
				</dict>
			</array>
			<key>key</key>
			<string>Lead Status</string>
			<key>placeholder</key>
			<string>Lead Status</string>
		</dict>
		<dict>
			<key>main</key>
			<true/>
			<key>value</key>
			<array>
				<dict>
					<key>text</key>
					<string></string>
					<key>status</key>
					<string>false</string>
					<key>main</key>
					<false/>
					<key>key</key>
					<string>Lead Classification</string>
					<key>isOpen</key>
					<false/>
					<key>keyboard</key>
					<string></string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>label</string>
					<key>action</key>
					<string>checkBox</string>
					<key>placeholder</key>
					<string>Lead Classification</string>
					<key>validation</key>
					<false/>
					<key>mandatoryVal</key>
					<false/>
				</dict>
				<dict>
					<key>isOpen</key>
					<false/>
					<key>text</key>
					<string></string>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>status_category</string>
					<key>headerTitle</key>
					<string>Lead Classification</string>
					<key>type</key>
					<string>button</string>
					<key>action</key>
					<string>select</string>
					<key>placeholder</key>
					<string>Select Classification</string>
					<key>validation</key>
					<true/>
					<key>mandatoryVal</key>
					<true/>
				</dict>
				<dict>
					<key>text</key>
					<string></string>
					<key>status</key>
					<string>false</string>
					<key>main</key>
					<false/>
					<key>key</key>
					<string>Lead Status</string>
					<key>isOpen</key>
					<false/>
					<key>keyboard</key>
					<string></string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>label</string>
					<key>action</key>
					<string>checkBox</string>
					<key>placeholder</key>
					<string>Lead Status</string>
					<key>validation</key>
					<false/>
					<key>mandatoryVal</key>
					<false/>
				</dict>
				<dict>
					<key>isOpen</key>
					<false/>
					<key>text</key>
					<string></string>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>status</string>
					<key>headerTitle</key>
					<string>Lead Status</string>
					<key>type</key>
					<string>button</string>
					<key>action</key>
					<string>select</string>
					<key>placeholder</key>
					<string>Select Lead Status</string>
					<key>validation</key>
					<true/>
					<key>mandatoryVal</key>
					<true/>
				</dict>
				<dict>
					<key>hidden</key>
					<true/>
					<key>isOpen</key>
					<false/>
					<key>text</key>
					<string></string>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>substatus</string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>button</string>
					<key>action</key>
					<string>select</string>
					<key>placeholder</key>
					<string>Select Lead SubStatus</string>
					<key>validation</key>
					<true/>
					<key>mandatoryVal</key>
					<true/>
				</dict>
				<dict>
					<key>isOpen</key>
					<false/>
					<key>text</key>
					<string></string>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>status_date</string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>datePicker</string>
					<key>action</key>
					<string>yes</string>
					<key>placeholder</key>
					<string>Select Status Date</string>
					<key>validation</key>
					<false/>
					<key>mandatoryVal</key>
					<true/>
				</dict>
				<dict>
					<key>text</key>
					<string></string>
					<key>status</key>
					<string>false</string>
					<key>main</key>
					<false/>
					<key>key</key>
					<string>Customer Visited</string>
					<key>isOpen</key>
					<false/>
					<key>keyboard</key>
					<string></string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>label</string>
					<key>action</key>
					<string>checkBox</string>
					<key>placeholder</key>
					<string>Customer Visited</string>
					<key>validation</key>
					<false/>
					<key>mandatoryVal</key>
					<false/>
				</dict>
				<dict>
					<key>hidden</key>
					<true/>
					<key>text</key>
					<string></string>
					<key>isOpen</key>
					<false/>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>customer_visited</string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>datePicker</string>
					<key>action</key>
					<string>yes</string>
					<key>placeholder</key>
					<string>Select Visited Date</string>
					<key>validation</key>
					<false/>
					<key>mandatoryVal</key>
					<true/>
				</dict>
				<dict>
					<key>text</key>
					<string></string>
					<key>status</key>
					<string></string>
					<key>main</key>
					<false/>
					<key>key</key>
					<string>Note Against Status</string>
					<key>isOpen</key>
					<false/>
					<key>keyboard</key>
					<string></string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>label</string>
					<key>action</key>
					<string>checkBox</string>
					<key>placeholder</key>
					<string>Note Against Status</string>
					<key>validation</key>
					<false/>
					<key>mandatoryVal</key>
					<false/>
				</dict>
				<dict>
					<key>hidden</key>
					<false/>
					<key>isOpen</key>
					<false/>
					<key>text</key>
					<string></string>
					<key>keyboard</key>
					<string></string>
					<key>key</key>
					<string>statustext</string>
					<key>headerTitle</key>
					<string>Note Against Status</string>
					<key>type</key>
					<string>textField</string>
					<key>action</key>
					<string>yes</string>
					<key>placeholder</key>
					<string>Note Against Status</string>
					<key>validation</key>
					<true/>
					<key>mandatoryVal</key>
					<true/>
				</dict>
				<dict>
					<key>text</key>
					<string></string>
					<key>status</key>
					<string>false</string>
					<key>main</key>
					<false/>
					<key>key</key>
					<string>Send Sms</string>
					<key>isOpen</key>
					<false/>
					<key>keyboard</key>
					<string></string>
					<key>headerTitle</key>
					<string></string>
					<key>type</key>
					<string>label</string>
					<key>action</key>
					<string>checkBox</string>
					<key>placeholder</key>
					<string>Send sms to customer</string>
					<key>validation</key>
					<false/>
					<key>mandatoryVal</key>
					<false/>
				</dict>
			</array>
			<key>isOpen</key>
			<false/>
			<key>key</key>
			<string>Lead Status</string>
			<key>placeholder</key>
			<string>Lead Status</string>
		</dict>
	</array>
</dict>
</plist>
